---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/ExperienceSection.astro";
import Projects from "../components/ProjectsSection.astro";
import AboutMe from "../components/es/AboutMe.astro";
import TechStackSection from "../components/TechStackSection.astro";
import Footer from "../components/Footer.astro";
import { experiences } from "../constants/es/experience";
import { projects } from "../constants/es/projects";
import Alert from "../components/Alert.astro";
---

<Layout title="Miguel Higuera." lang="es">
  <Alert
    text="Este es mi sitio antiguo y abandonado. Por favor visita el nuevo haciendo clic aquí."
  />
  <Header
    experience="Experiencia"
    projects="Proyectos"
    aboutMe="Sobre mí"
    otherLanguage="English"
    otherLanguageUrl="/en"
    countryCode="us"
  />
  <main>
    <Hero
      hiIAm="Hola, soy"
      jobTitle="Desarrollador Web Fullstack"
      tagline="Transformando ideas en realidad a través del código"
      visitMy="Visita mi"
      emailMeAt="Envíame un email"
      photoAlt="Fotografía de Miguel"
      email="me@miguelhiguera.dev"
      resumeUrl="/resumes/Miguel-Higuera-Resume-es.pdf"
      viewResumeText="Ver CV"
    />
    <AboutMe
      title="Sobre mí"
      introduction="Soy Miguel Higuera, desarrollador chileno 🇨🇱 titulado de Ingeniero en Informática en INACAP. Me desempeño principalmente como desarrollador web fullstack."
      lookingForAJob="Actualmente me encuentro buscando una nueva oportunidad laboral."
      inquisitiveness="Muy apasionado por la computación, tengo mucha curiosidad y sed de conocimiento, y me encanta resolver problemas mediante la programación."
      mainLanguages1="Mis lenguajes principales son"
      featuredLanguages="JavaScript, TypeScript, Java y PHP"
      mainLanguages2=", pero también he trabajado con otros lenguajes."
      fluentEnglish="Hablo inglés fluido."
      componentCreatedByMe="Componente Discord Card creado por mí."
      viewRepository="Ir al repositorio del componente Discord Card"
      componentImageUrl="component-text-es.webp"
      viewSourceImageUrl="view-code-es.webp"
      viewSource="Ver código"
    />
    <Experience experience={experiences} title="Experiencia" />
    <Projects projects={projects} title="Proyectos" />
    <TechStackSection title="Tecnologías" />
  </main>
  <Footer />
</Layout>
