---
import Separator from "./Separator.astro";
import type { Project as pro } from "../interfaces/Project" 
import Project from "./Project.astro";

interface Props {
  projects: pro[];
  title: string;
}

const { projects, title } = Astro.props;
---

<section class="max-w-[900px] mx-auto" id="projects">
  <Separator />
  <h2 class="text-3xl font-bold text-gray-300 mb-4">{title}</h2>
  <ul class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 gap-6">
    {projects.map((project) => (
      <Project {...project} />
    ))}
  </ul>
</section>
